.settingsmenu{
    margin: auto;
    max-width: 1000px;
}

.settingsmenu__category-title{
    text-align: center;
    border-bottom: 2px solid white;
}

.settingsmenu__setting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 30px;
    align-items: center;
}

.settings__menu-button{
    background: none;
    border: none;
    overflow: hidden;
}

.settings__menu-button_dark{
    color: white;
}

.settings__menu-button_light{
    color: black;
}