.login-landing-page__background {
  background: linear-gradient(
    45deg,
    #e09f7d,
    #ef5d60,
    #ec4067,
    #a01a7d,
    #7e3eb6
  );
  background-size: 600% 600%;
  -webkit-animation: animatedGradient 35s ease infinite;
  -moz-animation: animatedGradient 35s ease infinite;
  animation: animatedGradient 35s ease infinite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-landing-page__container {
  width: 800px;
  height: 600px;
  box-sizing: border-box;
  background-color: rgb(45, 52, 58);
  position: relative;
}

.login-landing-page__container__forgotpassword{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-landing-page__section {
  position: absolute;
  padding: 30px 15px;
  transition: all ease-in-out 0.5s;
  height: 100%;
  background-color: rgb(45, 52, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.login-landing-page__section_login {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login-landing-page__container.active .login-landing-page__section_login {
  transform: translateX(100%);
}

.login-landing-page__section_register {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login-landing-page__container.active .login-landing-page__section_register {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.login-landing-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  gap: 25px;
}

.login-landing-page__error{
  font-size: 12px;
  color: red;
  background-color: rgb(255, 0, 0, 0.15);
  opacity: 0%;
}

.login-landing-page__error_active{
  opacity: 100%;
}

.login-landing-page__header{
  font-size: 28px;
  margin: 0px;
}

.login-landing-page__other-options-container {
  display: flex;
}

.login-landing-page__link {
  border: none;

}

.login-landing-page__link_signup{
  --angle: 0deg;
  border: 1.5px solid;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	animation: 10s rotate linear infinite;
  box-shadow: 0 0 10px inherit;
}

#forgot-password {
  text-decoration: underline;
}

.login-landing-page__external-link {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 5px;

}

.login-landing-page__external-link:hover{
  opacity: 90%;
}

.login-landing-page__text{
  text-align: center;
}

.login-landing-page__google-link {
  background: transparent
    url("../../vendor/icons/google-plus-g-brands-solid.svg") no-repeat left;
    filter:none;
    background-color: #ff6961;
    width: 200px;
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.login-landing-page__label {
  width: 100%;
}

.login-landing-page__label-date{
  width: 124px;
}

.login-landing-page__input {
  width: 310px;
  height: 30px;
  background: none;
  border: 1px solid grey;
  filter: invert();
  margin: auto;
}

input[type="date"] { 
  background: transparent;
  filter: invert();
  border: 1px solid grey
}

input:focus {
  border-color: grey;
}

.login-landing-page__toggle-section {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.login-landing-page__toggle {
  background-color: rgb(54, 63, 71);
  height: 100%;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.login-landing-page__toggle-container {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  gap: 10px;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.login-landing-page__container.active .login-landing-page__toggle-section {
  transform: translateX(-100%);
}

.login-landing-page__toggle-container_left {
  transform: translateX(-200%);
}

.login-landing-page__container.active .login-landing-page__toggle{
  transform: translateX(50%);
}

.login-landing-page__container.active
  .login-landing-page__toggle-container_left {
  transform: translateX(0);
}

.login-landing-page__toggle-container_right {
  right: 0;
  transform: translateX(0);
}

.login-landing-page__container.active
  .login-landing-page__toggle-container_right {
  transform: translateX(200%);
}

.login-landing-page__container.active
  .login-landing-page__toggle-container_left {
  transform: translateX(0);
}

.button__container {
  position: relative;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes rotate{
  to{
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@-webkit-keyframes animatedGradient {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@-moz-keyframes animatedGradient {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@keyframes animatedGradient {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
