/** {border: 1px solid red;}*/

li {
  list-style: none;
}

p {
  mix-blend-mode: difference;
  margin: 0;
}

h2 {
  mix-blend-mode: difference;
}



.App {
  width: 100vw;
  height: 100vh;
  color: white;
  display: inline-block;
}

.App_light {
  background-color: rgba(255, 255, 255, 0.873);
}

.App_dark {
  background-color: rgb(45, 52, 58);
}
