.chatbox{
    background-color: inherit;
    max-width: 100%;
    height: auto;
    border-top: 1px solid grey;
}

.chatbox__text-submit{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chatbox__text-submit > *{
    height: 40px;
    border-radius: 30px;
    border: 1px solid grey;
}

.chatbox__text-submit > button {
    width: 40px;
    filter: invert(100%);
    mix-blend-mode: difference;
    padding: 2px;
    border: 1px solid rgb(77,77, 77, 0.85);
}

#chatbox-input{
    border: 1px solid grey;
    background: rgb(128, 128, 128, 0.25);
    width: 60%;
    padding: 10px;
}

::placeholder, ::-moz-placeholder{
    color: rgb(128, 128, 128 );
}

.chatbox__submit-button{
    width: 40px;
    filter: invert(100%);
    mix-blend-mode: difference;
    padding: 2px;
    border: 1px solid rgb(77,77, 77, 0.85);
}