.settingsmenu__setting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 30px;
    align-items: center;
}

.settingsmenu__setting-title{
    margin: 0;
    width: 154px;
    text-align: center;
}

.settings__menu-button{
    background: none;
    border: none;
    overflow: hidden;
    padding: 2px;
}
