.settingsmenu__setting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 30px;
    align-items: center;
}

.settings__menu-button{
    background: none;
    border: none;
    overflow: hidden;
    padding: 2px;
}

.settings__menu-button_dark{
    color: white;
    border: 1px solid white;
}

.settings__menu-button_light{
    color: black;
    border: 1px solid black;
}