.rbutton{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid grey;
    background: none;
    padding: 0 1.2rem;
}

.rbutton_dark{
    color: white;
    border: 1px solid white;
}

.rbutton_light{
    color: black;
    border: 1px solid black;
}

.rbutton_ripple{
   overflow: hidden;
}

.ripple-effect{
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    pointer-events: none;
    z-index: 5;
    animation: ripple 0.3s linear infinite;
}

@keyframes ripple {
    from{
        width: 0;
        height: 0;
        opacity: 0.4;
    } to {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}