.message {
    display: flex;
    justify-content: space-between;
}

.message__container {
  display: grid;
  grid-template-areas:
    "picture username username timestamp"
    "picture textcontent textcontent textcontent";

    grid-template-columns: 70px 70px;
    grid-template-rows: 30px;
  border-radius: 10px;
  padding: 5px;
}

.message__profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  grid-area: picture;
}

.message__username{
  grid-area: username;
  font-size: 18px;
}

.message__timestamp {
  font-size: 11px;
  grid-area: timestamp;
  margin: 0;
  align-self: center;
  margin-left: 10px;
  opacity: 0.7;
}

.message__content {
  font-size: 16px;
  grid-area: textcontent;
  margin: 0;
}
